<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
  <div class="layout d-flex">
    <nav class="sidebar bg-light">
      <div class="wrap d-flex flex-column justify-content-between">
        <div class="list-Item">
            <a href="index.html">
                <img src="./assets/images/logo-ANSWER.svg" alt="logo" class="img-filud mb8 ml8">
            </a>
                
            <ul class="ps-0">
              <li class="d-flex list-unstyled mb-26">
                <a href="#" class="d-flex align-items-center pl8">
                    <span class="material-icons me-2">
                        assessment
                    </span>
                    <p class="mb-0 fw-bold">Dashboard</p>
                </a>     
              </li>
              <li class="d-flex list-unstyled mb-26">
                <a href="#" class="d-flex align-items-center pl8">
                    <span class="material-icons me-2">
                      question_answer
                    </span>
                    <p class="mb-0 fw-bold">Question</p>
                </a>
              </li>
              <li class="d-flex list-unstyled mb-26">
                <a href="#" class="d-flex align-items-center pl8">
                    <span class="material-icons me-2">
                      assignment
                    </span>
                    <p class="mb-0 fw-bold">Assignment</p>
                </a>
              </li>
              <li class="d-flex list-unstyled mb-26">
                <a href="#" class="d-flex align-items-center pl8">
                    <span class="material-icons me-2">
                      video_library
                    </span>
                    <p class="mb-0 fw-bold">Course</p>
                </a>
              </li> 
              <li class="d-flex list-unstyled mb-26">
                <a href="admin.html" class="d-flex align-items-center pl8 active link-success ">
                    <span class="material-icons me-2">
                      supervisor_account
                    </span>
                    <p class="mb-0 fw-bold">Admin</p>
                </a>
              </li>
              <li class="d-flex list-unstyled mb-26">
                <a href="#" class="d-flex align-items-center pl8">
                    <span class="material-icons me-2">
                      settings
                    </span>
                    <p class="mb-0 fw-bold">Settings</p>
                </a>
              </li>                                                     
            </ul>
        </div>
        <div class="user-Item d-flex align-items-center ml8">
          <img src="assets/images/andychen.jpeg" alt="相片">
          <div class="text ms-3">
          <h2 class="h6 fw-bold mb-1">Andy Chen</h2>
          <span class="text-secondary">andy0401@mail.com</span>
          </div>
        </div>
          
      </div>

      
    </nav>
 

    <%- contents %>

    <footer class="footer">
    
    </footer>
  </div>
  
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>